<footer>

    <div id="footer_sup">
        <a href="#">
            <img class="logo" src="assets/imagens/logo_escrita_png.png" alt="" width="100%" height="100%">
        </a>

    </div>

    <div class="footer_centro">
        <a href="https://www.instagram.com/usecieff/" target="_blank">
            <img class="icone_footer" src="assets/icons/instagram.svg" alt="">
        </a>
        <a href="">
            <img class="icone_footer" src="assets/icons/facebook.svg" alt="">
        </a>
        <a href="https://www.youtube.com/@usekixx" target="_blank">
            <img class="icone_footer" src="assets/icons/youtube.svg" alt="">
        </a>
        <a href="https://www.tiktok.com/@kixxcompany?lang=en" target="_blank">
            <img class="icone_footer" src="assets/icons/tiktok.svg" alt="">
        </a>

    </div>

    <div class="footer_centro">

        <a href="#catalogo_link">Catálogo</a>
        <a href="#link_novidades">Novidades</a>
        <a href="#link_sobre">Sobre Nós</a>
    </div>



</footer>
