:host{
  all: unset;
}

.logo{
    width: 140px;
    height: 140px;
    cursor: pointer;
    transition: all .3s;
}

footer {
    width: 100%;
    height: 250px;
   background-color: #070707b2;
}

#footer_sup {
    margin: auto;
    width: 100%;
    height: 140px;
    transition: all .3s;

}

#footer_sup img {
    margin-left: 45%;
    margin-right: 45%;


}

#footer_sup img:hover {
    transform: translateY(-2px);
    transition: all .3s;
}

.footer_centro {

    width: 25%;
    margin: auto;
    margin-top: -15px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s;

}

.footer_centro a {
    font-family: style;
    text-decoration: none;
    color: #b9b9b9;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}

.icone_footer {
    width: 30px;
    height: 30px;
    filter: invert(100%);

}

.icone_footer:hover, .footer_centro a:hover {
    transform: translateY(2px);
    transition: all .3s;
}


  button:hover {
    opacity: 1;
  }
