<section id="catalogo_link">
    <h1>Catálogo</h1>
    <div class="catalogo">

        <div class="produto" (click)="openModal('Cmiseta Basic', '/assets/imagens/camiseta_preta.png', 'Camiseta Basica confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/camiseta_preta.png" alt="" width="100%" height="100%">
            <p>Camiseta Basic</p>
            <span>R$120.00</span>
            <br><br>
        </div>

        <div class="produto" (click)="openModal('Moletom PurpleJack', '/assets/imagens/moletom_roxo.png', 'Moletom confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/moletom_roxo.png" alt="" width="100%" height="100%">
            <p>Moletom PurpleJack</p>
            <span>R$140.00</span>
            <br><br>
        </div>

        <div class="produto" (click)="openModal('Calça Cargo', '/assets/imagens/calcacargo.png', 'Calça Cargo confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/calcacargo.png" alt="" width="100%" height="100%">
            <p>Calça Cargo</p>
            <span>R$80.00</span>
            <br><br>
        </div>

    </div> <!-- Fechando div.catalogo -->
</section> <!-- Fechando section -->

<section id="catalogo_link">
    <div class="catalogo">

        <div class="produto" (click)="openModal('Camiseta SWAG', '/assets/imagens/marrom1.jpg', 'Camiseta SWAG confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/marrom1.jpg" alt="" width="100%" height="115%">
            <p>Camiseta SWAG</p>
            <span>R$100.00</span>
            <br><br>
        </div>

        <div class="produto" (click)="openModal('Moletom Off', '/assets/imagens/moletom_off.png', 'Moletom confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/moletom_off.png" alt="" width="100%" height="115%">
            <p>Moletom Off</p>
            <span>R$109.99</span>
            <br><br>
        </div>

        <div class="produto" (click)="openModal('Ixqueiro', '/assets/imagens/Ixqueiro.png', 'Isqueiro funcional...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
            <img src="/assets/imagens/Ixqueiro.png" alt="" width="100%" height="115%">
            <p>isqueiro</p>
            <span>R$34.99</span>
            <br><br>
        </div>
    </div> <!-- Fechando div.catalogo -->
</section> <!-- Fechando section -->
