<!-- Primeiro Catálogo -->
<section id="catalogo_link">
  <h1>Catálogo</h1>
  <div class="catalogo">

    <div class="produto" (click)="openModal(1,'Camiseta Basic', '/assets/imagens/camiseta_preta.png', 'Camiseta Básica confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/camiseta_preta.png" alt="Camiseta Preta" width="100%" height="100%">
      <p>Camiseta Basic</p>
      <span>R$119,90</span>
      <br><br>
    </div>

    <div class="produto" (click)="openModal(2,'Moletom PurpleJack', '/assets/imagens/moletom_roxo.png', 'Moletom confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/moletom_roxo.png" alt="Moletom Roxo" width="100%" height="100%">
      <p>Moletom PurpleJack</p>
      <span>R$139,90</span>
      <br><br>
    </div>

    <div class="produto" (click)="openModal(6,'Moletom Vermelho', '/assets/imagens/moletomV.png', 'Moletom Vermelho...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/moletomV.png" alt="Moletom Vermelho" width="100%" height="100%">
      <p>Moletom Vermelho</p>
      <span>R$149,90</span>
      <br><br>
    </div>

  </div>
</section>

<!-- Segundo Catálogo (use outro ID para evitar conflitos) -->
<section id="catalogo_link_2">
  <div class="catalogo">

    <div class="produto" (click)="openModal(4,'Camiseta SWAG', '/assets/imagens/marrom1.png', 'Camiseta SWAG confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/marrom1.png" alt="Camiseta Marrom" width="100%" height="100%">
      <p>Camiseta SWAG</p>
      <span>R$119,90</span>
      <br><br>
    </div>

    <div class="produto" (click)="openModal(5,'Moletom Off', '/assets/imagens/moletom_off.png', 'Moletom confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/moletom_off.png" alt="Moletom Off White" width="100%" height="100%">
      <p>Moletom Off</p>
      <span>R$129,99</span>
      <br><br>
    </div>

    <div class="produto" (click)="openModal(3,'Calça Cargo', '/assets/imagens/calcacargo.png', 'Calça Cargo confortável...', 'https://link-da-tabela-de-tamanhos', '/carrinho/carrinho.html')">
      <img src="/assets/imagens/calcacargo.png" alt="Calça Cargo" width="100%" height="100%">
      <p>Calça Moletom</p>
      <span>R$139,90</span>
      <br><br>
    </div>

  </div>
</section>
