<div class="container" id="novidades_link">
    <h1 class="title">Novidades</h1>
    <div class="slideshow-container">
        <div class="slides">
            <div class="slide">
                <img src="/assets/imagens/novidade.png" alt="Novidades Image 1">
                <div class="overlay"></div>
            </div>
            <div class="slide">
                <img src="/assets/imagens/page1.png" alt="Novidades Image 2">
                <div class="overlay"></div>
            </div>
            <div class="slide">
                <img src="/assets/imagens/page2.png" alt="Novidades Image 3">
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>